<div class="user">
    <img src="<%= user.photo%>" alt="<%= user.name %>'s photo" class="user-image">
    <div class="user-infos">
        <h2 class="user-name">
            <%=user.name%>
        </h2>
        <% if user.id == current_user.id %>
            <h2>CURRENT USER</h2>
            <a href="/users/<%= user.id %>/posts/new" class="add-post-link">ADD NEW POST</a>
        <% end %>
        <small class="user-posts-count">Posts: <%= user.posts_counter || 0%></small>
    </div>
</div>