<div class="post-container">
    <h2 class="post-title">Post: #<%= post.id%> <%= post.title %></h2>
    <p><%= post.text %></p>
    <div class="post-stats">
        <small> <span>Likes: <%= post.likes_counter %></span> <span>Comments: <%= post.comments_counter %></span></small>
    </div>
</div>