<div class="page-container">
    <%= render partial: 'users/user', locals: {user: @user}%>
    <% if flash[:notice] %>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <% @posts.each do |post| %>
        <a href="/users/<%= @user.id %>/posts/<%= post.id%>" id="post-<%= @user.id %><%= post.id %>">
            <%= render partial: 'post', locals: {post: post} %>
            <% comments = post.comments %>
            <%= render partial: 'posts/post_comments', locals: {comments: comments}%>
            <hr class="post-border">
        </a>
    <% end %>
</div>