<!DOCTYPE html>
<html>
  <head>
    <title>Webwisesage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="nav-bar">
      <a href="./" class="current-user-link">GO TO CURRENT USER</a>
    </nav>
    <%= yield %>
  </body>
</html>
